* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/anillof.jpg);
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-top: 250px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.606);
    padding: 10px;
    border-radius: 10px;
}

p {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.605);
    padding: 10px;
    border-radius: 10px;
}


div, form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 15px;
    font-size: 18px;
    background-color: rgba(137, 135, 135, 0.872);
    color: rgb(0, 0, 0);
    border-color: black;
    border-radius: 10px;
}

button:hover {
    color: white;
    background-color: rgb(31, 30, 30);
}