* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url(../img/AnillodeFuego1\ \(1\).jpg);
    background-position: center;
    background-size:auto;
    background-attachment:fixed;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 35px;
    margin-top: 300px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
}

.comenzar {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 10px;
}


.parte1 {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



button {
    padding: 15px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.872);
    color: rgb(223, 138, 10);
    font-weight: bold;
    border-color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}

button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(224, 136, 54);
}

@media screen and (max-height: 800px) {
    h1 {
        margin-top: 200px;
    }
}